body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkgrey;
}
.profile, .footer {
    width: 1280px;
    margin: 0 auto;
    background-color: white;
}

.section {
    padding: 50px;
}

.section_black, .footer_black {
    background-color: #445162;
}

.section__img {
    width: 40%;
}

.section-flax {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.main-article_white {
    color: white;
}

.main-article__title_h1 {
    font-size: 60px;
    margin-bottom: 50px;
}

.main-article__list {
    font-size: 20px;
}

.main-article__item {
    margin-bottom: 10px;
}

.main-article__item::before {
    content: url('../assets/check_icon.png');
    margin-right: 10px;
}

.article-aboutme {
    width: 47%;
}

.article-aboutme__item {
    background: url('../assets/plus_icon.png') no-repeat left top;
    padding-left: 40px;
    margin-bottom: 15px;
    line-height: 1.3;
}

.section_aboutme, .section_skills {
    padding: 0;
    margin-top: 10px;
}

.main-article__title_h2, .main-section__title_h2 {
    font-size: 30px;
    color: #445161;
    margin-bottom: 20px;
}

.article_itsme {
    width: 700px;
}

.main-article__paragraph {
    margin-bottom: 15px ;
    line-height: 1.5;
    font-style: italic;
}

.section_gray {
    background-color: rgb(235, 233, 233);
}

.footer{
    text-align: center;
    color: white;
    line-height: 1.2;
    font-size: 20px;
}

.article-skills__title_h3 {
    font-weight: bold;
    font-size: 20px;
    margin-top: 5px;
}
