body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkgrey;
}
.profile {
    width: 1280px;
    margin: 0 auto;
    background-color: white;
}

.section {
    padding: 50px;
}

.section_black {
    background-color: #445162;
}

.section__img {
    width: 40%;
}

.main-section {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.main-article_white {
    color: white;
}

.main-article__title {
    font-size: 60px;
    margin-bottom: 50px;
}

.main-article__list {
    font-size: 20px;
}

.main-article__item {
    margin-bottom: 10px;
}

.main-article__item::before {
    content: url('../assets/check_icon.png');
    margin-right: 10px;
}

.article_aboutme {
    width: 50%;
    margin-right: 25px;
}

.article-aboutme__item {
    background: url('../assets/plus_icon.png') no-repeat left top;
    padding-left: 40px;
    margin-bottom: 15px;
}

.section_aboutme {
    padding-right: 0;
}

.main-article__title2 {
    font-size: 30px;
    color: #445161;
    margin-bottom: 20px;
}

.article_itsme {
    width: 700px;
}

.main-article__paragraph {
    margin-bottom: 15px ;
}